@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Saira", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-capputeeno-100 bg-['#F0F0F5'] w-screen h-screen overflow-hidden;
}